<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <!-- box icon cdn  -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- toastify css -->
    <link rel="stylesheet" href="./stylesheets/toastify.css">
    <!-- sweet alert 2 css -->
    <link rel="stylesheet" href="./stylesheets/sweetalert2.min.css" />
    <!-- main css -->
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script src="./js/toastify.js"></script>
    <script src="./js/sweetalert2.all.min.js"></script>
    <script src="./js/moment.js"></script>

  </head>
  <body>
    <!-- sidebar start  -->
    <section class="sidebar">
      <div class="logo_details">
        <i class="bx bx-chat"></i>
        <span class="logo_name">Chat</span>
      </div>

      <!-- sidebar nav link start  -->
      <ul class="nav_links">
        <!-- link item 1  -->
        <li>
          <a href="/inbox">
            <i class="bx bx-collection"></i>
            <span class="link_name">Inbox</span>
          </a>
          <ul class="sub_menu blank">
            <li>
              <a class="link_name" href="/inbox">Inbox</a>
            </li>
          </ul>
        </li>
        <!-- link item 2  -->
        <li>
          <a href="/users">
            <i class="bx bxs-user-detail"></i>
            <span class="link_name">Users</span>
          </a>
          <ul class="sub_menu blank">
            <li>
              <a class="link_name" href="/users">Users</a>
            </li>
          </ul>
        </li>
        <!-- link item 3  -->
        <li>
          <a href="/">
            <i class="bx bx-log-in-circle"></i>
            <span class="link_name">Login</span>
          </a>
          <ul class="sub_menu blank">
            <li>
              <a class="link_name" href="/">Login</a>
            </li>
          </ul>
        </li>

        <!-- link item 10 user  -->
        <li>
          <% if (loggedInUser && loggedInUser.username) { %>
            <div class="profile_details">
              <div class="profile_content">
                <% if(loggedInUser && loggedInUser.avatar) { %>
                  <img src="./uploads/avatars/<%= loggedInUser.avatar %>" alt="<%= loggedInUser.username %>" />
                <% } else { %>
                  <img src="./images/nophoto.png" alt="">
                <% } %>
              </div>
              <div class="name_job">
                <div class="profile_name"><%= loggedInUser?.username.slice(0,10) %>...</div>
                <div class="job"><%= loggedInUser?.role %></div>
              </div >
              <i onclick="logout()" class="bx bx-log-out"></i>
            </div>
          <% } else { %> 
            <div class="profile_details">
              <div class="profile_content">
                <img src="./images/login.png" alt="" />
              </div>
              <div class="name_job">
                <div class="profile_name">Not Found</div>
                <div class="job">Not Found</div>
              </div>
              <a href="/">
                <i class="bx bx-log-in-circle"></i>
              </a>
            </div>
          <% } %>
        </li>
        <!-- link item end  -->
      </ul>
      <!-- sidebar nav link end  -->
    </section>
    <!-- sidebar end  -->

    <!-- js -->
    <script>
      // toast 
      const logoutToast = Toastify({
        text: "You are being logged out....",
        duration: 1000,
      });

      function logout(){
        fetch("/", {
          method: "DELETE",
        });
        logoutToast.showToast();
        setTimeout(()=>{
          window.location.replace("/");
        }, 1000);
      }
    </script>
    
  </body>
</html>
